
$text: #f6f6f6;

$background-light: #2f2f2f;
$background-mid: #1f1f1f;
$background-dark: #111111;
$background-dark-1: #181818;

$primary: #63279e;
$secondary: #3626af;
$tertiary: #133685;

$btn-text: #ffffff;
$btn-disabled: #888888;
$btn-back: #0f0f0f;
$btn-active: #181818;

$tab-bg: $background-mid;
$tab-bg-active: $background-light;
$tab-bg-hover: #272727;

$shadow: #00000055;

$good: #53d160;
$bad: #ef6262;
$warn: #cc7823;