
$text: #f6f6f6;

$background-light: #2f2f2f;
$background-mid: #1f1f1f;
$background-dark: #111111;

$primary: #ad59ff;
$secondary: #6d57ff;
$tertiary: #3166df;

$btn-text: #ffffff;
$btn-back: #0f0f0f;
$btn-active: #181818;

$tab-bg: $background-mid;
$tab-bg-active: $background-light;
$tab-bg-hover: #272727;

$shadow: #00000055;

$good: #53d160;
$bad: #ef6262;
$warn: #cc7823;